{
    "tabWidth": 4,
    "printWidth": 80,
    "singleQuote": true,
    "trailingComma": "all",
    "semi": true,
    "bracketSpacing": true,
    "bracketSameLine": false,
    "arrowParens": "always",
    "overrides": [
        {
            "files": "*.json",
            "options": {
                "printWidth": 120
            }
        }
    ]
}
